{% extends 'bootstrap/base.html' %}

{% block title %}
    Ponder
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="static/transparentraindrop.png" width="25" height="25" alt="">
                </a>
                <a class="navbar-brand" href="/">Ponder</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register_page">Register</a></li>
                    <li><a href="/login_page">Login</a></li>
                </ul>
            </div>
        </div>

    </nav>
{% endblock %}

