{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 style="margin-bottom:40px" >Study Groups</h1>

    <form action="/chatrooms" method="POST">
        <input type="submit" class = "btn btn-light btn-block" style="border-radius:0" name="chatroom" value="Room 1">
        <input type="submit" class = "btn btn-light btn-block" style="border-radius:0" name="chatroom" value="Room 2">
        <input type="submit" class = "btn btn-light btn-block" style="border-radius:0" name="chatroom" value="Room 3">
    </form>
</div>
{% endblock %}

