{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Profile</h1>

    <form action="/profile" method="POST" class="form-signin">
        <h5><strong>Username</strong></h5>
        <input type="text" class="form-control login-field" value="" placeholder="Username" name="username">

        <h5><strong>Major</strong></h5>
        <input type="text" class="form-control login-field" value="" placeholder="Major" name="major">

        <h5><strong>Class</strong></h5>
        <input type="text" class="form-control login-field" value="" placeholder="Class" name="class">

        <h5><strong>Noise</strong></h5>

        <select name="noise" class="form-control">
            <option value="silent">Silent</option>
            <option value="ambient">Ambient</option>
            <option value="loud">Loud</option>
        </select>

        <h5><strong>Collaboration style</strong></h5>

        <select name="collab" class="form-control">
            <option value="moral">Moral support</option>
            <option value="discussion">Discussion</option>
        </select>

        <h5><strong>Learning style</strong></h5>

        <select name="learn_style" class="form-control">
            <option value="audio">Audio</option>
            <option value="cafe">Cafe</option>
            <option value="kinesthetic">Kinesthetic</option>
        </select>

        <h5><strong>Environment</strong></h5>

        <select name="env" class="form-control">
            <option value="library">Library</option>
            <option value="visual">Visual</option>
            <option value="room">Study room</option>
            <option value="common">Common open area</option>
        </select>

        <div class="control-group" style="margin-top:20px">
        <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block"></div>
    </form>
</div>
{% endblock %}
