<form action="/register" method="POST">
<div class="control-group">
    <input type="text" class="login-field" value="" placeholder="username" name="username"></div>
<div class="control-group">
    <input type="password" class="login-field" value="" placeholder="password" name="password"></div>
    <div class="control-group">
    <input type="text" class="login-field" value="" placeholder="first name" name="firstname"></div>
<div class="control-group">
    <input type="text" class="login-field" value="" placeholder="last name" name="lastname"></div>
    <div class="control-group">
    <input type="text" class="login-field" value="" placeholder="email" name="email"></div>
<div class="control-group">
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block"></div>
</form>